<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-alta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <div class="card">
      <div class="circle" style="background-image: url('https://image.flaticon.com/icons/svg/236/236832.svg');"></div>
      <span class="p1">Alta usuario</span><br>
      <br>
      <div class="form-group">
        <!-- Text input-->
        <input id="" name="" type="text" placeholder="username"  value="{{username::input}}"><br>
        <!-- Password input-->
        <input id="" name="" type="password" placeholder="password"  value="{{password::input}}" ><br>
        <!-- Mail -->
        <input id="" name="" type="text" placeholder="email" value="{{email::input}}"><br>
        <!--button-->
        <br><button class="btn btn-lg btn-primary btn-block"  type="submit" on-click="_crearUsuario">Crear</button>
      </div>
    </div>

  </template>

  <script>
    class MyAlta extends Polymer.Element {
      static get is() { return 'my-alta'; }

      static get properties() {
        return {
          username: String,
          texto: String,
          email: String,
          mensaje: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _crearUsuario () {
        // console.log("my-alta: _crearUsuario()");
        if ((this.username==undefined) || (this.password == undefined) || (this.email == undefined) || (this.username =="")||(this.password=="")||(this.email=="")){
          alert("Por favor, complete todos los campos");
        }else{
          var peticion = new XMLHttpRequest();
          peticion.open("POST", URL_ALTA_USU, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
          peticion.send('{"nombre":"' + this.username + '", "email": "' + this.email + '", "password": "' + this.password + '"}');
          var respuesta = JSON.parse(peticion.responseText);
          if (peticion.status=="200"){
            alert("Usuario creado correctamente");
            sessionStorage.setItem("usuario", this.username);
            this.set('route.path', '/post');
          }else{
            alert ("Hubo algún problema al crear el usuario. Por favor, intentelo de nuevo");
          }
        }
      }
    }

    window.customElements.define(MyAlta.is, MyAlta);
  </script>
</dom-module>
