<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-post.html">
<link rel="lazy-import" href="my-alta.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-creapost.html">
<link rel="lazy-import" href="my-gestion.html">
<link rel="lazy-import" href="my-detalle.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;

      }

      google-map {
        height: 225px;
        width: 225px;
        margin:10px;
      }


      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;

      }

      app-header {
        /*donde pone el baul de los recuerdos y todo eso*/
        color: #fff;
        background-color: var(--app-primary-color);

      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
        /*El color del icono del menu que aparece en el movil*/
      }

      .drawer-list {
        margin: 0 20px;
        ;
      }

      .drawer-list a {
        /*Esta es la parte de los componentes del menu*/
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;

      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}"  >
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar><b>Menú</b></app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="post" href="[[rootPath]]post">Post publicados</a>
          <a name="alta" href="[[rootPath]]alta">Alta usuario</a>
          <a name="login" href="[[rootPath]]login">Login</a>
          <a name="creapost" href="[[rootPath]]creapost">Crear post</a>
          <a name="gestion" href="[[rootPath]]gestion">Gestion post</a>
        </iron-selector>

        <google-map latitude="40.421432" longitude="-3.7536663" zoom=11>
          <google-map-marker latitude="40.421432" longitude="-3.7536663" title="Casa de Campo de Madrid">
            <h2>Quedada 23 Sep</h2>
            <p>
              Juega con nosotros!! Casa de Campo, 10:00 h.
            </p>
            <p>
              <img src="http://www.guiarte.com/archivoimg/general/1563.jpg" alt="A recordar">
            </p>
          </google-map-marker>
        </google-map>

      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">

          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title><b>El baul de los recuerdos</b></div><p>Usuario:</p><i> {{logado}}</i></div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-post name="post"></my-post>
          <my-alta name="alta"></my-alta>
          <my-login name="login"></my-login>
          <my-creapost name="creapost"></my-creapost>
          <my-gestion name="gestion"></my-gestion>
          <my-view404 name="view404"></my-view404>
          <my-detalle name="detalle"></my-detalle>
          <my-modpost name="modpost"></my-modpost>
        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>


  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          logado: String,
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Deault to 'view1' in that case.
        // console.log("my-app: _routePageChanged()");
        this.page = page || 'post';
        if((sessionStorage.getItem("usuario"))!=null){
          this.logado=sessionStorage.getItem("usuario");
        }
        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        //console.log("my-app: _pageChanged()");
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        //console.log("my-app: _showPage404");
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
