<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="shared-styles.html">
<link rel="lazy-import" href="my-post.html">

<dom-module id="my-creapost">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <div class="card">
      <div class="circle" style="background-image: url('https://image.flaticon.com/icons/svg/190/190711.svg');"></div>
      <span class="p1">Crear Post</span><br>
      <br>
      <div class="form-group">
        <!-- Titulo input-->
        <input id="" name="" type="text" placeholder="titulo"  value="{{titulo::input}}">
        <!-- Link imagen input-->
        <br><input id="" name="" type="text" placeholder="link a imagen" class="form-control input-md"  value="{{images::input}}"><br>
        <!-- TextArea input -->
        <textarea class="form-control" id="" placeholder ="Inserte su contenido" name="" value={{texto::input}} rows="6" style="width:240px" ></textarea>
        <!--button-->
        <br><button class="btn btn-lg btn-primary btn-block"  type="Submit" on-click="_savePost">Publicar Post</button>
      </div>
    </div>

  </template>

  <script>
    class MyCreapost extends Polymer.Element {
      static get is() { return 'my-creapost'; }

      static get properties() {
        return {
          titulo: String,
          texto: String,
          images: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      // static get observers() {
      //   return [
      //     '_routeChanged(route.*)',
      //   ];
      // }
      //
      // _routeChanged(changeRecord) {
      //   console.log("Entramos en my-creapost");
      //
      //   if (changeRecord.path === 'path') {
      //     console.log('Path changed!');
      //   }
      // }

      _savePost () {
        //console.log("my-creapost: _savePost()");
        var usuario=sessionStorage.getItem("usuario");
        if (usuario == null){
          alert("Para poder crear un post debe logarse en el blog");
        }else if ((this.titulo==undefined) || (this.images == undefined) || (this.texto == undefined) ||(this.titulo=="") || (this.images =="") || (this.texto=="")){
          alert("Por favor, complete todos los campos");
        }else{
          var request = new XMLHttpRequest();
          request.open("POST", URL_BASE_POST+TOKEN_POST, false);
          request.setRequestHeader("Content-Type", "application/json");
          var registro = JSON.stringify({"titulo": this.titulo, "texto": this.texto, "imagen":this.images, "usuario": usuario });
          request.send(registro);
          if (request.status=="200"){
            alert("Post creado correctamente");
            this.titulo=undefined;
            this.images=undefined;
            this.texto="";
            this.set('route.path', '/post');
          }else{
            alert ("Hubo algún problema al crear el post. Por favor, intentelo de nuevo");
          }
        }
      }
    }

    window.customElements.define(MyCreapost.is, MyCreapost);
  </script>
</dom-module>
