<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-detalle">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .p3{
        color: #212121;
      }

    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <!-- <div class="content"> -->
      <div class="card" >
        <h1 align=center>[[posts.titulo]]</h1>
        <p align=center>por [[posts.usuario]]</p>
      </div>
      <div>
        <center><img class="foto" src='[[posts.imagen]]' style="width:330px;height:330px;"></center>
      </div>
      <div class="card" >
        <p class="p3" id="texto"></p>
      </div>
    <!-- </div> -->
  </template>

  <script>
    class MyDetalle extends Polymer.Element {
      static get is() { return 'my-detalle'; }

      static get observers() {
        return [
          '_routeChanged(route.*)',
        ];
      }

      _routeChanged(changeRecord) {
        //console.log("my-detalle: _routeChanged()");
        this.obtenerUnicoPost();
        if (changeRecord.path === 'path') {
          console.log('Path changed!');
        }
      }

      obtenerUnicoPost () {
        //console.log("my-detalle: obtenerUnicoPost()");
        var request = new XMLHttpRequest();
        request.open("GET", URL_BASE_POST+BARRA+sessionStorage.getItem("id_post")+TOKEN_POST, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var tex = request.responseText;
        tex=tex.replace(/\\n/g,"<br></br>");
        this.posts=JSON.parse(tex);
        this.$.texto.innerHTML = this.posts.texto;
      }
    }

    window.customElements.define(MyDetalle.is, MyDetalle);
  </script>
</dom-module>
