<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="lazy-import" href="my-modpost.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-gestion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <div class="content">
      <template is="dom-repeat" id= "posts" items="{{posts}}">
        <div class="card" >
          <div on-click="_detallePost">
            <div class="circle" style="background-image: url('[[item.imagen]]');"></div>
            <span class="p1">[[item.titulo]]</span>
            <span class="p2">  por [[item.usuario]]</span>
            <img align=right src="https://image.freepik.com/iconos-gratis/adelante-dibujado-a-mano-flecha-que-apunta-hacia-la-derecha_318-51794.jpg" style="width:25px;height:25px;">
          </div>
          <div align="right">
            <button on-click="_deletePost">Delete</button>
            <button on-click="_modificaPost">Modify</button>
          </div>
          <!-- <p>[[item.texto]]</p> -->
        </div>
      </template>
    </div>
  </template>

  <script>
    class MyGestion extends Polymer.Element {
      static get is() { return 'my-gestion'; }

      static get properties() {
        return {
          borrado: {
            type: Number,
            value: 1,
            observer: "_refresco"
          },
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routeChanged(route.*)',
        ];
      }

      _routeChanged(changeRecord) {
        //console.log("my-gestion: _routeChanged()");
        this._refresco();
        if (changeRecord.path === 'path') {
          console.log('Path changed!');
        }
      }

      _refresco () {
        //console.log("my-gestion: _refresco()");
        var request = new XMLHttpRequest();
        var url=URL_FILTRADO_1+sessionStorage.getItem("usuario")+URL_FILTRADO_FINAL;
        request.open("GET", url, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.posts=JSON.parse(request.responseText);
      }

      _deletePost (e) {
        //console.log("my-gestion: _deletePost()");
        var id= e.model.get('item._id.$oid');
        var propietario=e.model.get('item.usuario');
        var usuario= sessionStorage.getItem("usuario");
        if (propietario!==usuario){
          alert("Usted no puede eliminar este post ya que no es el propietario");
        }else{
          var request = new XMLHttpRequest();
          var urldel = URL_BASE_POST  + BARRA + id + TOKEN_POST;
          request.open("DELETE", urldel, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          if (request.status=="200"){
            alert("Post eliminado correctamente");
            this.borrado=this.borrado+1;
          }else{
            alert ("Hubo algún problema al borrar el post. Por favor, intentelo de nuevo");
          }
        }
      }

      _modificaPost (e) {
        //console.log("my-gestion: _modificaPost()");
        var id= e.model.get('item._id.$oid');
        var propietario=e.model.get('item.usuario');
        var usuario= sessionStorage.getItem("usuario");
        if (propietario!==usuario){
          alert("Usted no puede eliminar este post ya que no es el propietario");
        }else{
          sessionStorage.setItem("titulo", e.model.get('item.titulo'));
          sessionStorage.setItem("images", e.model.get('item.imagen'));
          sessionStorage.setItem("texto", e.model.get('item.texto'));
          sessionStorage.setItem("id",e.model.get('item._id.$oid'));
          this.set('route.path', '/modpost');
        }
      }

      _detallePost(e) {
        //console.log("my-gestion: _detallePost()");
        sessionStorage.setItem("id_post", e.model.get('item._id.$oid'));
        this.set('route.path', '/detalle');
      }

    }
    window.customElements.define(MyGestion.is, MyGestion);
  </script>
</dom-module>
