<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>


    <div class="card">
      <div class="circle" style="background-image: url('https://image.flaticon.com/icons/svg/272/272456.svg');"></div>
      <span class="p1">Login</span><br>
      <br>
      <div class="form-group">
        <!-- Text input-->
        <input id="" name="" type="text" placeholder="username"  value="{{username::input}}">
        <!-- Password input-->
        <br><input id="" name="" type="password" placeholder="password" class="form-control input-md"  value="{{password::input}}" ><br>
        <!--button-->
        <br><button class="btn btn-lg btn-primary btn-block"  name="Submit" value="login" type="Submit" on-click="_hacerLogin">Login</button>
        Si desea darse de alta, <a href="[[rootPath]]alta">pulse aqui.</a><br>
      </div>
    </div>

  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }

      static get properties() {
        return {
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _hacerLogin () {
        //console.log("my-login: _hacerLogin()");
        var respuesta;
        if ((this.username==undefined) || (this.password == undefined)){
          alert("Usuario y/o password no informados");
        }else{
          var peticion = new XMLHttpRequest();
          peticion.open("POST", URL_LOGIN, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
          peticion.send('{"nombre":"' + this.username + '", "password": "' + this.password + '"}');
          respuesta = JSON.parse(peticion.responseText);
          if (peticion.status=="200" && respuesta.data.count > 0){
            alert("Login correcto. Ya puedes participar con tus recuerdos");
            sessionStorage.setItem("usuario", this.username);
            this.username=undefined;
            this.password=undefined;
            this.set('route.path', '/post');
          }
          else{
            alert("Login incorrecto. Compruebe usuario y/o password");
          }
        }
      }
    }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
