<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="shared-styles.html">
<link rel="lazy-import" href="my-gestion.html">

<dom-module id="my-modpost">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <div class="card">

      <div class="circle" style="background-image: url('https://image.flaticon.com/icons/svg/339/339716.svg');"></div>
      <span class="p1">Modificar Post</span><br>
      <br>
      <div class="form-group">
        <!-- Titulo input-->
        <input id="" name="" type="text" placeholder="titulo"  value="{{titulo::input}}">
        <!-- Link imagen input-->
        <br><input id="" name="" type="text" placeholder="link a imagen" class="form-control input-md"  value="{{images::input}}"><br>
        <!-- TextArea input -->
        <textarea class="form-control" id="" placeholder ="Inserte su contenido" name="" value={{texto::input}} rows="6" style="width:240px" ></textarea>
        <!--button-->
        <br><button class="btn btn-lg btn-primary btn-block"  type="Submit" on-click="_modifyPost">Modificar Post</button>
      </div>
    </div>

  </template>

  <script>
    class MyModpost extends Polymer.Element {
      static get is() { return 'my-modpost'; }

      static get properties() {
        return {
          titulo: String,
          texto: String,
          images: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routeChanged(route.*)',
        ];
      }

      _routeChanged(changeRecord) {
        //console.log("my-modpost: routeChanged()");
        this._cargardatos();
        if (changeRecord.path === 'path') {
          console.log('Path changed!');
        }
      }

      _cargardatos () {
        //console.log("my-modpost: _cargardatos()");
        this.titulo = sessionStorage.getItem("titulo");
        this.images = sessionStorage.getItem("images");
        this.texto = sessionStorage.getItem("texto");
      }

      _modifyPost () {
        //console.log("my-modpost: _modifyPost()");
        var usuario=sessionStorage.getItem("usuario");
        var id=sessionStorage.getItem("id");
        if (usuario == null){
          alert("Para poder crear un post debe logarse en el blog");
        }else if ((this.titulo==undefined) || (this.images == undefined) || (this.texto == undefined) ||(this.titulo=="") || (this.images =="") || (this.texto=="")){
          alert("Por favor, complete todos los campos");
        }else{
          // Guardamos primero
          var request2 = new XMLHttpRequest();
          request2.open("POST", URL_BASE_POST+TOKEN_POST, false);
          request2.setRequestHeader("Content-Type", "application/json");
          var registro = JSON.stringify({"titulo": this.titulo, "texto": this.texto, "imagen":this.images, "usuario": usuario });
          request2.send(registro);
          if (request2.status=="200"){
            //console.log("my-modpost: _modifyPost() : Post creado OK");
            //y ahora borramos
            var request = new XMLHttpRequest();
            var urldel = URL_BASE_POST  + BARRA + id + TOKEN_POST;
            request.open("DELETE", urldel, false);
            request.setRequestHeader("Content-Type", "application/json");
            request.send();
            if (request.status=="200"){
              alert("Post modificado correctamente");
              this.set('route.path', '/gestion');
            }else{
              alert ("Hubo algún problema al modificar el post. Por favor, revise los posts ya que puede haber duplicidades");
            }
          }else{
            alert ("Hubo algún problema al modificar el post. Por favor, intentelo de nuevo");
          }
        }
      }
    }

    window.customElements.define(MyModpost.is, MyModpost);
  </script>
</dom-module>
