<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="lazy-import" href="my-detalle.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-post">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <div class="content">
      <template is="dom-repeat" id= "posts" items="{{posts}}">
        <div class="card" on-click="_detallePost">
          <div class="circle" style="background-image: url('[[item.imagen]]');"></div>
          <span class="p1">[[item.titulo]]</span>
          <span class="p2">  por [[item.usuario]]</span>
          <img align=right src="https://image.freepik.com/iconos-gratis/adelante-dibujado-a-mano-flecha-que-apunta-hacia-la-derecha_318-51794.jpg" style="width:25px;height:25px;">
           <!-- <p>[[item.texto]]</p> -->
        </div>
      </template>
    </div>
  </template>

  <script>
    class MyPost extends Polymer.Element {
      static get is() { return 'my-post'; }

      static get properties() {
        return {
          borrado: {
            type: Number,
            value: 1,
            observer: "_refresco"
          },
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routeChanged(route.*)',
        ];
      }

      _routeChanged(changeRecord) {
        //console.log("my-post: _routeChanged()");
        this._refresco();
        if (changeRecord.path === 'path') {
          console.log('Path changed!');
        }
      }

      _refresco () {
        //console.log("my-post: _refresco()");
        var request = new XMLHttpRequest();
        request.open("GET", URL_BASE_POST+TOKEN_POST, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var tex = request.responseText;
        tex=tex.replace(/\\n/g,"<br></br>");
        this.posts=JSON.parse(tex);
      }

      _detallePost(e) {
        //console.log("my-post: _detallePost()");
        sessionStorage.setItem("id_post", e.model.get('item._id.$oid'));
        this.set('route.path', '/detalle');
      }
    }

    window.customElements.define(MyPost.is, MyPost);
  </script>
</dom-module>
